form {
  margin-left:30px ;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
}

form button {
  padding: 5px;
  border: none;
  background-color: rgb(141, 228, 27);
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}

.deleteBtn {
  margin-left: 20px;
  padding: 5px;
  font-weight: 700;
  cursor: pointer;
}
